/* Estilos para el contenedor de la carpeta */
.folder {
  margin: 20px;
  padding: 20px;
  width: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="number"],
input[type="date"] {
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Estilos para el botón */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}
.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.App h1 {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
}

.eliminar {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ff0400;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.eliminar:hover {
  background-color: #b30000;
}

.nombrecarpeta {
  text-align: center;
  font-size: 20px;
  font-family: "Poppins";
}
.carpetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn-agregar-carpeta {
  align-items: center;
}

.transaction {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.pago:hover {
  background-color: #b30000;
}
.cobro:hover {
  background-color: #21b419;
}
.folder {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
